<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Code</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .split-container {
            display: flex;
            height: 100vh;
        }

        .right {
            width: 100%;
            padding: 20px;
        }


        .centered-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="split-container">
    <div class="right centered-content">
        <h2>Run Code</h2>
        <div id="status" class="mb-4"></div>
        <form action="/start" method="post" class="mb-2">
            <button type="submit" class="btn btn-success btn-lg btn-block">Start Code</button>
        </form>
        <form action="/stop" method="post">
            <button type="submit" class="btn btn-danger btn-lg btn-block">Stop Code</button>
        </form>
    </div>
</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    fetch('/status')
        .then(response => response.json())
        .then(data => {
            const statusDiv = document.getElementById('status');
            statusDiv.innerHTML = `<h4>Status: ${data.running ? 'Running' : 'Stopped'}</h4>`;
        });
</script>
</body>
</html>
